html {
  position: relative;
  min-height: 100%
}

body {
  margin: 0 0 80px 0;
}

.emoji {
  vertical-align: middle;
  max-height: 36px;
}

.volgactf-final-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px
}

.volgactf-final-table > tbody > tr > td,
.volgactf-final-table > thead > tr > th {
  padding: 6px;
  line-height: 1.4;
  vertical-align: middle;
  border-top: 1px solid #ddd
}

.volgactf-final-table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd
}

.volgactf-final-table > thead:first-child > tr:first-child > th {
  border-top: 0
}

.volgactf-final-table > thead > tr > th {
  text-align: left
}

.volgactf-final-position {
  font-weight: bold
}

.volgactf-final-position-gold {
  color: #d4af37
}

.volgactf-final-position-silver {
  color: #c0c0c0
}

.volgactf-final-position-bronze {
  color: #cd7f32
}

.volgactf-final-team {
  display: inline-block;
  vertical-align: middle;
}

.volgactf-final-team-marked {
  font-weight: bold
}

.volgactf-final-score-points {
  font-size: 0.7em
}

.volgactf-final-score-last-attack {
  font-size: 0.7em
}

.volgactf-final-text-normal {
}

.volgactf-final-text-muted {
  color: #777
}

.volgactf-final-team-guest {
  font-size: 0.8em;
  padding: 2px 4px;
  color: #777;
  background-color: #f4f4f4
}

.volgactf-final-team-logo {
  width: 40px;
  height: 40px;
  vertical-align: middle
}

.volgactf-final-post > p {
  margin: 0;
  line-height: 1.5em;
}
